
/*  /////////////////////////////// < Basic Rules > /////////////////////////////// */

ul li {
    list-style: none;
}

.avatar-nav img {
    width: 50px;
}


/*  /////////////////////////////// < Navivation Bar > /////////////////////////////// */

#login_link li {
    display: inline-block;
}

.avatar-nav {
    margin-right: 5%;
}

.avatar {
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

/*  /////////////////////////////// < Profil > /////////////////////////////// */

#profil-container,#settings-container {
    width: 75%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    display: flex;
}

#profil-container, #settings-container h3 {
    padding: 20px;
}

#profil-container ul li {
    padding: 10px;
}

/* /// < Profil Avatar > /// */

#profil-photo img{
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 rgb(0 0 0 /30%);
}


/* /// < Profil INFOS > /// */

#profil-infos {
    margin-left: 70px;
}

#profil-infos ul {
    padding: 0;
    display: inline-block;
}

/* /// < Profil Settings > /// */

#settings-container ul li {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

#settings-container ul li a {
    cursor: pointer;
}

#settings-container ul hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sliders {
    display: block;
    width: 40vw;
    margin-left: 4vw;
    height: 100%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
}
